h3 {
  font-family: cursive;
  padding: 0px 15px;
  color: darkgrey;
}

.header {
  height: 70px;
}

.header-table {
  background-color: black;
  color: white;
}

.caption {
  text-align: center;
  color: white;
  background-color: crimson;
  height: 20px;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  background-color: white;
}

td,
th {
  text-align: left;
  padding: 4px;
  font-size: small;
  
}

.actions-td {
  text-align: center;
}

th {
  text-align: center;
}

tr:nth-child(even) {
  background-color: silver;
}

button {
  padding: 5px 32px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  color: white;
  margin: 4px 10px;
}

a {
  background-color: mediumslateblue;
  color: white;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}


.vertical-align-center {
  display: flex;
  align-items: center;
}

.table-container {
  display: flex;
  justify-content: center;
  min-height: 20vh;
  max-height: 20vh;
}
.list {
  min-height: 70vh;
  max-height: 70vh;
  overflow: auto;
  padding: 10px;
}

.plot-summary {
  min-width: 80%;
  min-height: 40px;
}

input {
  min-width: 80%;
}

.one-movie {
  border-collapse: unset;
  width: 60%;
  margin: 10px;
  background-color: white;
}

.one-movie .field-name {
  text-align: right;
  border-right: none;
  width: 20%;
}

.one-movie tr:nth-child(even) {
  background-color: white;
}

.table-container-remove {
  display: flex;
  justify-content: center;
}
.footer {
  background-color: black;
  padding: 5px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
}

 