<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
    <div class ="header"></div>
    <form action="/add_movie" method="POST">
        <div class="table-container-remove">
            <table class="one-movie" style="border: 1px solid">
                <tr>
                    <th colspan="2" class="caption">Create movie:</th>
                </tr>
                <tr>
                    <td class="field-name">Title: </td>
                    <td><input type="text" name="title"></td>
                </tr>
                <tr>
                    <td class="field-name">Actors: </td>
                    <td><input type="text" name="actors" ></td>
                </tr>
                <tr>
                    <td class="field-name">Director: </td>
                    <td><input type="text" name="director" ></td>
                </tr>
                <tr>
                    <td class="field-name">Release date: </td>
                    <td><input type="text" name="releaseDate" ></td>
                </tr>
                <tr>
                    <td class="field-name">Plot: </td>
                    <td><textarea class="plot-summary" type="text" name="plot" ></textarea></td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="button-submit" type="button" onclick="window.location.href='/cancel'">Cancel</button>
                        <button class="button-submit" type="submit">Add</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <footer class="footer">
        <span >By Silvia Shimabuko - 2022199</span>
    </footer>
</body>

</html>